<mat-toolbar color="primary">
  <span>Aluga Tech</span>
  <span class="spacer"></span>
  <button mat-button type="button" routerLink="/home">Home</button>
  <button mat-button type="button" routerLink="/devices">Devices</button>
  <ng-container *ngIf="isUserAuthenticated; else loginButton">
    <button mat-button (click)="logout()">Logout</button>
  </ng-container>
  <ng-template #loginButton>
    <button mat-button (click)="openLoginDialog()">Login</button>
  </ng-template>
  <button mat-button type="button" routerLink="/user-manual">About</button>
</mat-toolbar>
