<ng-container *ngIf="isLoading; else content">
  <div class="loading-container">
    <mat-spinner></mat-spinner>
  </div>
</ng-container>

<ng-template #content>
  <mat-card class="product-details-card">
    <mat-card-header>
      <div mat-card-avatar class="product-image">
        <img [src]="device.imageUrl" alt="Imagem do dispositivo" />
      </div>
      <div class="details-header">
        <mat-card-title>
          <div class="details-title">
            {{ device.name }}
          </div>
        </mat-card-title>
        <mat-card-subtitle>
          {{ device.category }}
        </mat-card-subtitle>
        <div class="details-info">
          <div
            class="details-item status"
            [ngClass]="{
              available: device.status === 'available',
              rented: device.status === 'rented',
              maintenance: device.status === 'maintenance'
            }"
          >
            {{
              device.status === "available"
                ? "Disponível"
                : device.status === "rented"
                ? "Alugado"
                : "Em Manutenção"
            }}
          </div>
          <div class="details-item rental-price">
            {{ device.rentalPrice | currency : "BRL" : "symbol" : "1.2-2" }}
            <mat-card-subtitle> por dia </mat-card-subtitle>
          </div>
          <div class="details-item available-dates">
            <span>Disponível:</span>
            <span>{{ device.availableFrom | date : "dd/MM/yyyy" }}</span>
            <span>até</span>
            <span>{{ device.availableTo | date : "dd/MM/yyyy" }}</span>
          </div>
          <div class="total">
            <mat-form-field>
              <mat-label>Dias</mat-label>
              <mat-select
                [(ngModel)]="selectedDays"
                (selectionChange)="updateDays()"
              >
                <mat-option
                  *ngFor="let option of daysOptions"
                  [value]="option"
                  >{{ option }}</mat-option
                >
              </mat-select>
            </mat-form-field>
            <div class="total-value">
              <label>Total </label>
              <span>{{
                subTotalSignal() | currency : "BRL" : "symbol" : "1.2-2"
              }}</span>
            </div>
          </div>
          <div class="actions">
            <mat-card-actions>
              <button mat-flat-button color="primary" (click)="goBack()">
                Voltar
              </button>
              <button
                *ngIf="device.status === 'available'"
                mat-flat-button
                color="accent"
                (click)="rentDevice()"
              >
                Alugar
              </button>
            </mat-card-actions>
          </div>
        </div>
      </div>
    </mat-card-header>
    <mat-card-content>
      <div class="details-item description">
        <label>Descrição:</label>
        <p>{{ device.description }}</p>
      </div>
    </mat-card-content>
  </mat-card>
</ng-template>
