<div class="home-container">
  <mat-card class="welcome-card">
    <mat-card-header>
      <mat-card-title>Bem-vindo ao AlugaTech!</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Alugue dispositivos eletrônicos e hardware com facilidade.</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" routerLink="/devices">
        Ver Dispositivos
      </button>
      <button
        *ngIf="!isUserAuthenticated"
        mat-raised-button
        color="accent"
        (click)="openLoginDialog()"
      >
        Acesse sua conta
      </button>
    </mat-card-actions>
  </mat-card>
</div>
