<div *ngIf="device">
    <h2>Editando {{ device.name }}</h2>
    <form [formGroup]="deviceForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="id">ID</label>
        <input id="id" formControlName="id" [disabled]="true" />
      </div>
      <div>
        <label for="name">Nome</label>
        <input id="name" formControlName="name" />
      </div>
      <div>
        <label for="status">Status</label>
        <select id="status" formControlName="status">
          <option value="available">Available</option>
          <option value="rented">Rented</option>
        </select>
      </div>
      <button type="submit">Salvar</button>
      <button type="button" (click)="goBack()">Cancelar</button>
    </form>
  </div>
